views/question_list.jade
//
   Created by sempa on 1/24/2016.
extends layout
block content
    div.container
        h1= title
        .row
            div.col-md-2
            div.col-md-8
                div.row
                    a(href='/survey/create/question/#{surveyId}',class="btn btn-success") Create NEW
                div.row

                    form
                        div.well
                            each item in questions
                                div(class="alert alert-warning")
                                    p #{item.question}
                                ol.list-group
                                    each answer in item.answers
                                        li.list-group-item
                                            span(class="row form-group")
                                                div.col-md-10
                                                   p #{answer.answer}
                                                div.col-md-2
                                                    //input(type="checkbox",name="answer",id="answer",class="form-control")
                                                    input(id="ex1",class="ex1 col-md-2" data-slider-id='ex1Slider', type="text", data-slider-min="0" ,data-slider-max="20", data-slider-step="1", data-slider-value="14")

                                input(type="submit",value="Next",class="btn btn-success pull-right")
            .col-md-2
block scripts
    script(src='/javascripts/slider.js')

public/app/views/question_list.html
<!--Created by sempa on 1/31/2016.-->

<div class="container" ng-controller="questionsController">
               <div class="row">

                   <div class="col-md-8 col-lg-offset-2">
                       <div class="row">
                           <!--ng-href='/survey/create/question/{{surveyId}}'-->
                           <button type="button"  class="btn btn-success" ng-click="addNewAnswer()"
                                   data-target="#createQuestionModal" data-toggle="modal">Create NEW</button>
                        <div class="row">
                              <form>
                               <div class="well">
                                       <div ng-repeat="item in questionRows">
                                           <div class="row">
                                            <div class="alert alert-info col-md-9">

                                                   <div clas="">
                                                       <p> {{item.question}}</p>
                                                   </div>


                                             </div>
                                               <div class="col-md-3">
                                                   <button type="button" class="btn btn-xs btn-default" ng-click="deleteQuestion(item)">Delete</button>
                                               </div>
                                           </div>
                                           <ol class="list-group">
                                               <li ng-repeat="answer in item.answers" class="list-group-item">
                                                   <span class="row form-group">
                                                       <div class="col-md-10">
                                                           <p> {{answer.answer}}</p>
                                                       </div>
                                                       <div class="col-md-2">
                                                           <input  ng-if="item.isYesNo" type="checkbox",name="answer" id="answer" class="form-control"/>
                                                           <input slider-plugin ng-if="item.isForScale" class="ex1" name ="questionScale"  id="{{answer.answerId}}"
                                                                  data-slider-id='{{answer.answerId}}' type="text"
                                                                  data-slider-min="1"  data-slider-max="5"  data-slider-step="1"
                                                                  data-slider-value="1" />
                                                           <textarea  ng-if="item.isTextOnly" ,name="textAnswer" id="textAnswer" class="form-control"/>
                                                       </div>
                                                   </span>
                                               </li>
                                           </ol>
                                           <input type="submit" value="Next" class="btn btn-success pull-right"/>
                                       </div>
                               </div>
                               </form>
                         </div>
                       </div>

                   </div>


                </div>

    <!-- Create Queation Modal-->
    <div class="modal fade" modal-close id="createQuestionModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="cancelQuestionAdd()" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Create Question</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="/survey/create/question">
                        <input class="form-control" name="surveyId" id="surveyId" type="hidden" ng-model="objQuestion.surveyId"/>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="question"> Question  </label>
                                </div>
                                <div class="col-lg-3">
                                    <span class="right pull-right"><input name="qnType"  checked="{{objQuestion.isYesNo}}" ng-model="objQuestion.isYesNo" type="checkbox"/> <b>Yes No?</b></span>
                                </div>
                                <div class="col-lg-3">
                                    <span class="right pull-right"><input name="qnType" checked="{{objQuestion.isTextOnly}}" ng-model="objQuestion.isTextOnly" type="checkbox"/> <b>Text Only?</b></span>
                                </div>
                                <div class="col-lg-3">
                                    <span class="right pull-right"><input name="qnType" checked="{{objQuestion.isForScale}}" ng-model="objQuestion.isForScale" type="checkbox"/> <b>With Scale?</b></span>
                                </div>
                            </div>
                            <textarea class="form-control" name="question" id="question" required type="text"
                                      ng-model="objQuestion.question" placeholder="Type the survey question here"/>
                        </div>
                        <div ng-show="objQuestion.isForScale" class="form-group">
                            <label for="questionScale"> Question Scale</label>
                            <input slider-plugin class="ex1" name ="questionScale",id="ex1", data-slider-id='ex1Slider', type="text"
                                   data-slider-min="1"  data-slider-max="20"  data-slider-step="1"
                                   data-slider-value="1" ng-model="objQuestion.scale"/>
                        </div>
                        <div class="form-group" ng-repeat="item in objQuestion.answers">
                            <div class="row">
                                <div class="col-lg-10">
                                    <textarea class="form-control" ng-model="item.answer" name="answerOne" id="question"
                                              type="text" value="{{item.question}}"
                                              placeholder="Type one of the answers here and click add for the rest"/>
                                </div>
                                <div class="col-lg-2">
                                    <button type="button" class="btn btn-sm btn-default" ng-click="removeAnswer(item)">Remove</button>
                                </div>
                            </div>

                        </div>
                        <button type="button"   class="btn btn-info" ng-click="addNewAnswer()">Add Answer</button>
                       <!-- <div class="form-group">
                            <textarea class="form-control" name="answerTwo" id="question" type="text" value="#{questionObj.question}" placeholder="Answer Two"/>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="answerThree" id="question" type="text" value="#{questionObj.question}" placeholder="Answer Three"/>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="answerFour" id="question" type="text" value="#{questionObj.question}" placeholder="Answer Four"/>
                        </div>-->

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="cancelQuestionAdd()"  data-dismiss="modal" class="btn btn-danger">Cancel</button>
                    <button type="button" ng-click="saveQuestion()" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>

    </div>

</div>
<!--script src="../javascripts/slider.js"></script>-->
